* {
  box-sizing: border-box;
}

body {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.header {
  padding-top: 34px;
  padding-bottom: 45px;
}
.header-wrapper {
  display: flex;
  align-items: center;
}
.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo__title {
  font-weight: 700;
  color: white;
  font-size: 11.45px;
  line-height: 14.65px;
}
.header-navbar {
  margin-left: 87px;
  list-style: none;
  display: flex;
  align-items: center;
}
.header-navbar__link {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 12.09px;
  line-height: 15.48px;
  margin-right: 48px;
}
.header-button {
  margin-left: auto;
}
.header-button__login {
  background: none;
  border: none;
  color: white;
  font-weight: 400;
  font-size: 12.09px;
  line-height: 15.48px;
  cursor: pointer;
}
.header-button__sign:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.header-button__login:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.header-button__sign {
  width: 115px;
  height: 40px;
  border-radius: 7px;
  background-color: #BC4749;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 12px;
  line-height: 15.36px;
  margin-left: 14px;
  cursor: pointer;
}

.title {
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 41.45px;
  line-height: 50.17px;
  margin: 0 auto;
  margin-bottom: 31px;
}

.header-navbar__link:hover {
  font-weight: 600;
}

.cards {
  padding-top: 31px;
  padding-bottom: 100px;
}
.cards-wrapper {
  display: flex;
  justify-content: center;
}

.card {
  margin-right: -19px;
  background-color: #6A994E;
  width: 333px;
  border-radius: 11.35px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.card-container {
  max-width: 214px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card-title {
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.36px;
  margin-top: 37.85px;
}
.card-price {
  color: white;
  font-weight: 800;
  font-size: 37.85px;
  line-height: 37.85px;
  display: flex;
}
.card-sub-title {
  color: white;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  opacity: 70%;
}
.card-info {
  color: white;
  font-weight: 600;
  font-size: 15.14px;
  line-height: 19.38px;
  margin-bottom: 10px;
}
.card-mode {
  color: white;
  font-weight: 500;
  font-size: 13.25px;
  line-height: 16.96px;
}
.card-list {
  list-style: none;
  padding: 0;
  margin-top: 25px;
}
.card-list__item {
  color: white;
  font-weight: 500;
  font-size: 12px;
  line-height: 15.36px;
  margin-bottom: 15px;
}
.card-list__item:before {
  content: url("../img/arrow.svg");
  margin-right: 7px;
  align-items: center;
}
.card-button {
  width: 214px;
  height: 39px;
  border-radius: 7px;
  background: none;
  border: 1px white solid;
  color: white;
  cursor: pointer;
  margin-bottom: 29px;
  margin-top: auto;
  transition: 0.5s;
}
.card-button__img {
  margin-left: 10px;
}
.card-button:hover {
  background-color: #bc4749;
  transition: 0.5s;
  transform: scale(1.1);
  border: none;
  font-weight: 600;
}

.dark {
  height: 600px;
  margin-top: -37px;
  background-color: #1D252B;
  z-index: 1;
}
.dark-info {
  margin-top: 45px;
}
.dark-button {
  background-color: #bc4749;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.currency {
  color: white;
  font-weight: 500;
  font-size: 11.35px;
  line-height: 14.54px;
  margin-top: -5px;
  cursor: pointer;
}

.time {
  color: white;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  opacity: 80%;
  align-self: flex-end;
  cursor: pointer;
}

.op {
  opacity: 80%;
}

.line {
  border-bottom: 1px solid #FFFFFF;
  margin: 15px 0px;
  opacity: 10%;
}

.full {
  margin-left: -60px;
  width: 333px;
  margin-top: 27px;
  margin-bottom: 21px;
}

.card.visible {
  opacity: 1;
}

@media (max-width: 996px) {
  .header-logo {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }
  .header-navbar {
    margin-left: 10px;
  }
  .header-button {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  .cards-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .dark {
    margin-bottom: 20px;
  }
}
@media (max-width: 776px) {
  .header-logo {
    margin-left: 20px;
  }
  .header-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header-button {
    margin-right: 20px;
  }
  .cards-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .card {
    margin: 0 auto;
  }
  .dark {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=style.css.map */